body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 900px;
  margin: 50px auto;
  box-shadow: 0 0 5px 5px #bbb;
}

.main-form {
  font-family: "Calibri";
  padding: 25px;
}

.top-forms {
  display: flex;
  justify-content: space-between;
}

.main-form input, .main-form input[type=date], .main-form select {
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px 15px;
}

.main-form input[type=date] {
  padding: 9px 15px;
}

.registration-form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.registration-form img {
  height: 25px;
  margin: 5px auto;
  margin-right: 10px;
}

.passwords-block {
  display: flex;
  justify-content: space-between;
}

.passwords-block input[type=password] {
  border: 0;
  width: 44%;
  border-bottom: 2px solid gray;
  padding: 8px 10px;
}

#username, #email {
  width: 90%;
}